---
import '../styles/global.scss';
import '../styles/reset.css';
const { title = 'strafe.shop' } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="cursor" id="cursor" aria-hidden="true">
			<div class="cursor-dot">
				<div class="dot-meta" id="dot-meta"></div>
			</div>
		</div>

		<slot />

		<script>
			const cursor = document.getElementById('cursor');

			window.addEventListener('mousemove', (e) => {
				cursor.style.setProperty('--cursor-x', e.clientX + 'px');
				cursor.style.setProperty('--cursor-y', e.clientY + 'px');
			});
		</script>
	</body>
</html>


