:root {
  --black: #191a1b;
  --white: #ffffff;
  --lightgrey: #dedede;
  --titleFS: clamp(2rem, 4vw, 8rem);
  --satoshi: 'Satoshi', sans-serif;
  --ibm: "IBM Plex Mono", monospace;
}

body {
  position: relative;
}

* {
  transition: all 0.3s ease;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi/Satoshi-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi/Satoshi-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi/Satoshi-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.landingpage {
  width: 100vw;
  max-width: 2440px;
  font-family: var(--satoshi);
}
.landingpage .products-preview {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.landingpage .products-preview .editorial-shot {
  height: 100%;
  width: 50%;
  position: relative;
}
.landingpage .products-preview .editorial-shot .product-preview-info {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
}
.landingpage .products-preview .editorial-shot .product-preview-info .title {
  font-size: var(--titleFS);
  font-weight: 700;
  line-height: 1;
}
.landingpage .products-preview .editorial-shot .product-preview-info .info {
  display: flex;
  gap: 20px;
  font-family: var(--ibm);
}
.landingpage .products-preview .editorial-shot img {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}
.landingpage .products-preview .products-preview-list {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.landingpage .products-preview .products-preview-list .info-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 10px;
  padding-right: 10px;
  height: 100px;
}
.landingpage .products-preview .products-preview-list .products-preview-content {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 10px;
  padding-right: 10px;
  overflow-y: scroll;
  height: calc(100vh - 110px);
}
.landingpage .products-preview .products-preview-list .products-preview-content .product-preview {
  height: calc((100vh - 110px) / 3);
  width: calc(50% - 5px);
  transition: all 0.3s ease;
  overflow: hidden;
}
.landingpage .products-preview .products-preview-list .products-preview-content .product-preview img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}
.landingpage .products-preview .products-preview-list .products-preview-content .product-preview .product {
  display: none;
}
.landingpage .products-preview .products-preview-list .products-preview-content .product-preview:hover {
  height: calc((100vh - 110px) / 3);
}
.landingpage .products-preview .products-preview-list .products-preview-content .product-preview:hover .product {
  display: block;
}
.landingpage .products-preview .products-preview-list .products-preview-content .product-preview:hover .close-up {
  display: none;
}

.collection {
  min-height: 100vh;
}
.collection .collection-grid {
  display: grid;
  grid-template-columns: repeat(var(--cols, 3), 1fr);
  gap: 20px;
}
.collection .collection-grid .product-card .product-card-info {
  display: flex;
  justify-content: space-between;
}

.product-page {
  display: flex;
  position: relative;
}
.product-page .back {
  position: absolute;
  top: 20px;
  left: 20px;
  color: var(--white);
}
.product-page .product-images {
  display: flex;
  flex-direction: column;
  width: 40vw;
}
.product-page .product-details {
  max-width: 60vw;
  position: sticky;
  top: 20px;
  padding-left: 20px;
  align-self: flex-start;
}
.product-page .akkordion {
  border-top: 1px solid var(--lightgrey);
}
.product-page .akkordion .akkordion-titel {
  cursor: pointer;
  padding: 12px 0;
  font-family: var(--ibm);
  list-style: none;
}
.product-page .akkordion .akkordion-titel::-webkit-details-marker {
  display: none;
}
.product-page .akkordion .akkordion-titel + div {
  padding-bottom: 12px;
}

.nav {
  background-color: var(--lightgrey);
  height: auto;
  width: auto;
  padding: 4px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 999px;
  border: 2px solid var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
}
.nav a {
  background-color: var(--white);
  color: var(--black);
  padding: 8px 20px;
  font-family: var(--satoshi);
  border-radius: 999px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
.nav a:hover {
  background-color: green;
  box-shadow: 0 0 8px rgba(51, 255, 0, 0.247);
  color: white;
}

.nav-collection {
  position: sticky;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  height: auto;
  width: 300px;
  padding: 8px 15px;
  background-color: var(--white);
  border: 1px solid var(--lightgrey);
  display: flex;
  justify-content: space-between;
}
.nav-collection .grid-buttons {
  display: flex;
  gap: 10px;
}
.nav-collection .grid-buttons .grid-button {
  display: grid;
  place-content: center;
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
  padding: 8px 15px;
  background-color: var(--black);
  color: var(--white);
}
.nav-collection .grid-buttons .grid-button svg {
  width: 12px;
  height: 12px;
  fill: var(--white);
}
.nav-collection .view-buttons {
  display: flex;
  gap: 10px;
}/*# sourceMappingURL=global.css.map */