:root{
    --black: #191a1b;
    --white: #ffffff;
    --lightgrey: #dedede;

    --titleFS: clamp(2rem, 4vw, 8rem);

    --satoshi: 'Satoshi', sans-serif; 
    --ibm: "IBM Plex Mono", monospace;

    --cursor-size: 12px;
    --cursor-color: var(--black);
}

body{
    position: relative;
}

body,
body *{
    cursor: default;
}

.cursor{
    --cursor-x: 50vw;
    --cursor-y: 50vh;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    pointer-events: none;
    transform: translate3d(var(--cursor-x), var(--cursor-y), 0);
    transition: none;


    .cursor-dot{
        width: var(--cursor-size);
        height: var(--cursor-size);
        border-radius: 999px;
        background-color: var(--cursor-color);
        transform: translate(-50%, -50%);
    }
}

*{
    // outline: 1px solid red;
    transition:  all 0.3s ease;
}

@font-face {
    font-family: 'Satoshi';
    src: url('/fonts/Satoshi/Satoshi-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi';
    src: url('/fonts/Satoshi/Satoshi-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi';
    src: url('/fonts/Satoshi/Satoshi-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

.editorial-loop{
    // Dauer fuer einen kompletten Durchlauf
    --editorial-speed: 40s;

    height: 100vh;
    overflow: hidden;

    .editorial-track{
        display: flex;
        flex-direction: row;
        width: max-content;
        animation: editorial-scroll var(--editorial-speed) linear infinite;
    }

    img{
        height: 75vh;
        object-fit: cover;
        flex-shrink: 0;
        user-select: none;
        pointer-events: none;
    }
}

@keyframes editorial-scroll{
    to{
        transform: translateX(-50%);
    }
}

.chosen-products{
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    gap: 0px;
    z-index: 2;

    .product-close{
        height: 45px;
        width: 75px;
        object-fit: cover;
        position: relative;
        z-index: 2;
    }

    .product-full{
        position: fixed;
        bottom: 20px;
        right: 20px;
        height: 15vh;
        object-fit: contain;
        z-index: 1;
        opacity: 0;
        pointer-events: none;
    }

    .chosen-product:hover .product-full{
        opacity: 1;
    }
}

.collection{
    min-height: 100vh;
    padding: 20px;

    .collection-grid {
	    display: grid;
	    grid-template-columns: repeat(var(--cols, 3), 1fr);
	    gap: 20px;

        .product-card{
            .product-card-info{
                display: flex;
                justify-content: space-between;
                font-family: var(--ibm);
                text-transform: uppercase;
                padding-top: 8px;

                &.hidden{
                    opacity: 0;
                    display: none;
                }
            }
        }
    }
}

.product-page{
    display: flex;
    position: relative;

    .back{
        position: absolute;
        top: 20px;
        left: 20px;
        color: var(--white);
    }

    .product-images{
        display: flex;
        flex-direction: column;
        width: 40vw;
    }

    .product-details{
        max-width: 60vw;
        position: sticky;
        top: 20px;
        padding-left: 20px;
        align-self: flex-start;
    }

    .akkordion{
        border-top: 1px solid var(--lightgrey);

        .akkordion-titel{
            padding: 12px 0;
            font-family: var(--ibm);
            list-style: none;
        }

        // Standard-Dreieck (Chrome/Safari) weg
        .akkordion-titel::-webkit-details-marker{
            display: none;
        }

        .akkordion-titel + div{
            padding-bottom: 12px;
        }
    }
}

.nav{
    background-color: var(--lightgrey);
    height: auto;
    width: auto;
    padding: 4px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 999px;
    border: 2px solid var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    box-shadow: inset 0 0 4px rgba(0,0,0,0.2);

    a{
        background-color: var(--white);
        color: var(--black);
        padding: 8px 20px;
        font-family: var(--satoshi);
        border-radius: 999px;
        box-shadow: 0 0 8px rgba(0,0,0,0.1);

        &:hover{
            background-color: green;
            box-shadow: 0 0 8px rgba(51, 255, 0, 0.247);
            color: white;
        }
    }
}

.nav-start, .links{
    width: calc(75px * 6);
    position: fixed;
    bottom: 110px;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    font-family: var(--ibm);
    font-size: 12px;
    text-transform: uppercase;

    .logo{
        width: 35%;
        margin-inline: auto;

        img{
            width: 100%;
            margin-bottom: 20px;
        }
    }
    
    .meta{
        display: grid;
        grid-template-columns: 1fr auto 1fr;

        span:last-child{
            text-align: right;
        }
    }

    .links{
        display: flex;
        justify-content: space-between;
    }
}

.links{
    width: calc(75px * 6);
    bottom: 20px;
    flex-direction: row;
    justify-content: space-between;
}

.nav-collection{
    position: sticky;
    bottom: 30px;
    width: fit-content;
    margin: 0 auto;
    display: flex;
    gap: 15px;

    .nav-main{
        position: relative;
        z-index: 2;

        .main-icon{
            display: grid;
            place-content: center;
            width: 50px;
            height: 50px;
            background-color: var(--white);
            border-radius: 10px;
            box-shadow: 0 0 8px rgba(0,0,0,0.1);
            transition: all 0.3s ease;

            &.active{
                box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1);
            }

            svg{
                height: 20px;
                fill: var(--black);
            }
        }
    }

    .cart-expand-button{
        display: grid;
        place-content: center;
        width: 50px;
        height: 50px;
        background-color: var(--white);
        border-radius: 10px;
        box-shadow: 0 0 8px rgba(0,0,0,0.1);

        position: relative;
        z-index: 2;

        svg{
            height: 20px;
        }
    }

    .nav-grid{
        display: flex;
        justify-content: space-between;
        padding: 8px;
        width: fit-content;
        background-color: var(--white);
        width: 450px;
        height: 50px;
        border-radius: 10px;
        box-shadow: 0 0 8px rgba(0,0,0,0.1);
        position: relative;

        .nav-button{
            display: grid;
            place-content: center;
            padding: 0 8px;
            position: relative;

            & + .nav-button::before{
                content: "";
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 1px;
                height: 50%;
                background-color: var(--lightgrey);
            }

            &:hover{
                background-color: var(--lightgrey);
            }

            &.active svg{
                fill: green;
            }

            svg{
                height: 20px;
                fill: var(--black);
            }
        }


        .grid-buttons, .tag-buttons, .view-buttons, .info{
            display: flex;
            border: 1px solid var(--lightgrey);
            border-radius: 6px;
        }

        .nav-expanded{
            position: absolute;
            bottom: -10px;
            left: -10px;
            height: auto;
            width: calc(100% + 20px);
            background-color: var(--white);
            z-index: -1;
            border-radius: 10px;
            padding: 20px 20px 70px;
            display: none;
            box-shadow: 0 0 8px rgba(0,0,0,0.1);
            font-family: var(--satoshi);

            &.active{
                display: block;
            }

            .panel-section{
                display: none;

                &.active{
                    display: block;
                }
            }

            .panel-section[data-panel="main"]{
                text-transform: uppercase;
                font-weight: 700;
                background-image: url("/products/IDNR1/produkt1_ziphoodie_black_modell.webp");
                background-position: 100% 0%;
                background-size: 20%;
                background-repeat: no-repeat;


                ul{
                    display: flex;
                    flex-direction: column;
                    gap: 4px;
                    margin-bottom: 100px;
                }

                a[aria-current="page"]{
                    background-color: var(--black);
                    color: var(--white);
                }

                &:has(a[href="/collection"]:hover){
                    background-image: url("/products/IDNR1/produkt1_ziphoodie_black_closeup.webp");
                }

                &:has(a[href="/impressum"]:hover){
                    background-image: url("/products/IDNR1/produkt1_ziphoodie_black_back.webp");
                }


                .titles{
                    display: flex;
                    justify-content: space-between;
                    font-family: var(--ibm);
                    font-size: 12px;
                    font-weight: 400;
                }
            }
        }
    }
}



    